* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: inline-block;
  margin-left: 15px;
  margin-top: 15px;
  position: relative;
}
.container::before {
  position: absolute;
  display: block;
  content: "";
  height: 40vh;
  width: 4px;
  background-color: #272630;
  border-radius: 10px;
  top: -6px;
}
.middle img {
  max-width: 35px;
  object-fit: cover;
}
.top {
  width: 150px;
  height: 25px;
  background-color: orange;
}
.bottom {
  width: 150px;
  height: 25px;
  background-color: green;
}
.middle {
  display: flex;
  justify-content: center;
}
